@charset "utf-8";
@font-face {
  font-family: "NanumBarunGothic" !important;
  src: url("/webfont/NanumBarunGothic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "NanumBarunGothicBold";
  src: url("/webfont/NanumBarunGothicBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

html {
  overflow-x: hidden;
}
body {
  font-family: "NanumBarunGothic";
}
.hidden {
  text-indent: -9999px;
  position: absolute;
}
a {
  text-decoration: none;
}
/* Header */
.headerWrap {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  z-index: 9999;
}
.header {
  position: fixed;
  width: 100%;
  height: 130px;
  background-color: white;
  border-bottom: 1px solid #d9d9d9;
  z-index: 9999;
}
.header_fixed {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 179px;
  height: 28px;
  background: url(../image/head_logo_png.png) no-repeat;
}

.header_top_menu {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 8px;
}
.header_top_menu ul li {
  float: left;
  height: 30px;
}
.header_top_menu ul li a {
  color: #d9d9d9;
  margin: 0 24px;
  font-size: 12px;
  display: block;
  line-height: 30px;
  position: relative;
}
.header_top_menu ul li a::before {
  content: "";
  display: block;
  width: 15px;
  height: 18px;
  position: absolute;
  top: 6px;
  left: -24px;
  background: url(../image/header_login.png) no-repeat center/cover;
}
.header_top_menu ul li:nth-last-child(2) a::before {
  background: url(../image/header_joinus.png) no-repeat center/cover;
}
.header_top_menu ul li:nth-child(3) a::before {
  background: url(../image/header_find.png) no-repeat center/cover;
}
.header_top_menu ul li:last-child a::after {
  content: "";
  width: 0;
  height: 0;
}
.header_top_menu ul li a::after {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #d9d9d9;
  position: absolute;
  top: 8px;
  right: -13px;
}
.gnb a {
  color: black;
  font-weight: bold;
}
.gnb .header_menu {
  position: relative;
}
.gnb .header_menu_item {
  width: 80px;
  text-align: center;
  float: left;
  padding: 72px 60px;
  position: relative;
}

.header_sub_menu {
  display: none;
  position: absolute;
  text-align: center;
  background-color: white;
  top: 131px;
  left: 0;
  padding: 20px 0;
  height: 300px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.header_sub_item a {
  display: block;
  width: 200px;
  margin: 30px 0;
}

/* Header */
/* footer */
.footerWrap {
  width: 100%;
  background-color: #2c2a29;
}
.footer_menuWrap {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #7b7774;
}
.footer_menu {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}
.footer_menu_left ul li {
  float: left;
  margin: 0 20px;
  position: relative;
}
.footer_menu_left ul li::after,
.footer_menu_right ul li::after {
  content: "";
  width: 1px;
  height: 15px;
  right: -20px;
  position: absolute;
  top: 22px;
  background-color: #7b7774;
}
.footer_menu_left ul li:last-child::after,
.footer_menu_right ul li:first-child::after {
  content: "";
  width: 0px;
  height: 0px;
}
.footer_menu_left ul li a {
  display: block;
  line-height: 60px;
  color: #7b7774;
  font-weight: bold;
}
.footer_menu_right {
  margin-right: 20px;
}
.footer_menu_right ul {
  float: right;
}
.footer_menu_right ul li {
  float: right;
  margin: 0 20px;
  position: relative;
}
.footer_menu_right ul li a {
  display: block;
  margin-top: 18px;
  width: 25px;
  height: 25px;
}
.footer_menu_right ul li:nth-child(1) a {
  background: url(../image/footer_youtube.png) no-repeat center/cover;
}
.footer_menu_right ul li:nth-child(2) a {
  background: url(../image/footer_facebook.png) no-repeat center/cover;
}
.footer_menu_right ul li:nth-child(3) a {
  background: url(../image/footer_instagram.png) no-repeat center/cover;
}
.footer {
  margin: 0 auto;
  width: 1200px;
}
.footer_content {
  text-align: center;
  color: #7b7774;
  font-size: 14px;
  padding-top: 30px;
}
.footer_content p {
  padding: 15px 0;
}
.span_left {
  padding-right: 15px;
  border-right: 1px solid #7b7774;
}
.span_right {
  padding-left: 15px;
}
.copyright {
  text-align: center;
  color: #a9a8a7;
  padding: 20px 0 40px;
}

/* footer */
